<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<%= select_tag('animal', options_for_select([['いぬ', 'dog'], ['ねこ', 'cat'], ['とり', 'bird'], ['うし', 'cow'], ['へび', 'snake']]), class: "form-control", multiple: true) %>