.admin {
  padding: 1rem;
  .grid_area {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-rows: 1fr;
    grid-template-areas: 
      "company staff"
      "condition houkoku";
    .admin_company {
      grid-area: company;
    }
    .admin_staff {
      grid-area: staff;
    }
    .admin_condition {
      grid-area: condition;
    }
    .admin_hokoku {
      grid-area: houkoku;
    }
  }
}

// new
.admin_new {
  padding: 1rem;
  margin: 1rem;
  .admin_title {
    margin-bottom: 1rem;
  }
  .admin_field {
    margin-bottom: 1rem;
  }
}

.select2-hidden-accessible {
  padding: 2rem;
}


