.admin {
  padding: 1rem;
  .grid_area {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "company staff"
      "condition houkoku";
    .admin_company {
      grid-area: company;
      justify-content: center;
    }
    .admin_staff {
      grid-area: staff;
      width: 100%;
    }
    .admin_condition {
      grid-area: condition;
    }
    .admin_hokoku {
      grid-area: houkoku;
    }
  }
}

// new
.admin_new {
  background-color: #f8f7f6;
  .admin_area  {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1.2rem;
    grid-template-areas: 
      "button2 button2"
      "input condition"
      "attend attend"
      "houkoku1 houkoku2"
      "button button";
      @media (max-width: 760px) {
        width: 100%;
        grid-template-areas:
        "input"
        "condition"
        "attend"
        "attend"
        "houkoku"
        "houkoku"
        "button"
        "button"
        "button";
        grid-template-columns: 1fr;
      }
    grid-template-columns: 1fr 1fr;
    .admin_input {
      padding: 1rem;
      grid-area: input;
    }
    .admin_hd {
      background-color: #eeeeee;
      border-bottom: 1px solid #ddd;
    }
    .admin_condition {
      padding: 1rem;
      grid-area: condition;
    }
    .admin_houkoku {
      padding: 1rem;
      grid-area: houkoku1;
      .houkoku_input {
        margin: 1rem;
        th {
          margin: 1rem;
        }
      }
    }
    .admin_houkoku2 {
      padding: 1rem;
      grid-area: houkoku2;
      .houkoku_input {
        margin: 1rem;
        th {
          margin: 1rem;
        }
      }
    }

    .admin_attend {
      padding: 1rem;
      grid-area: attend;
    }
    .admin_button {
      grid-area: button;
    }
    .admin_button2 {
      width: 100%;
      grid-area: button2;
    }
  }
  .admin_field {
    margin-bottom: 1rem;

  }
}

.select2-hidden-accessible {
  padding: 2rem;
}


