.company_area {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "company staff";
  .company_info {
    grid-area: company;
  }
  .company_staff {
    grid-area: staff;
  }
  .company_button {
    grid-area: button;
  }
}