<div class="w-full mt-2">
  <div class="mb-2 font-bold">
    <h2>基本情報</h2>
  </div>
  <table class="card table table-striped">
    <tbody class="card-panel">
      <tr>
        <td>会社名</td>
        <td><%= @company.name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @company.name_kana %></td>
      </tr>
    </tbody>
  </table>
</div>