<div class="w-1/2 mt-2">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>会社名</td>
        <td><%= @company.name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @company.name_kana %></td>
      </tr>
    </tbody>
  </table>
</div>