<!-- flash message -->
<% flash.each do |message_type, message| %>
<div class="flex items-center justify-end mt-2">
  <div class="bg-white border-l-4 border-green-500 text-orange-700 p-2 z-100 flash alert-<%= message_type %>"><%= message %></div>
</div>
<% end %>
