<header class="mana_hd flex justify-between items-center py-4 px-6">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    </nav>

  <div class="flex items-center">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>

  

  <div class="flex items-center">
      <div x-data="{ notificationOpen: false }" class="relative">
          <button @click="notificationOpen = ! notificationOpen"
              class="flex mx-4 text-2xl focus:outline-none">
            <i class="fas fa-bell text-white"></i>
          </button>

          <div x-show="notificationOpen" @click="notificationOpen = false"
              class="fixed inset-0 h-full w-full z-10" style="display: none;"></div>

          <div x-show="notificationOpen"
              class="absolute right-0 mt-2 w-80 bg-white rounded-lg shadow-xl overflow-hidden z-10"
              style="width: 20rem; display: none;">
              <a href="#"
                  class="flex items-center px-4 py-3 text-gray-600 hover:text-white hover:bg-indigo-600 -mx-2">
                  <img class="h-8 w-8 rounded-full object-cover mx-1"
                      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80"
                      alt="avatar">
                  <p class="text-sm mx-2">
                      <span class="font-bold" href="#">Sara Salah</span> replied on the <span
                          class="font-bold text-indigo-400" href="#">Upload Image</span> artical . 2m
                  </p>
              </a>
              <a href="#"
                  class="flex items-center px-4 py-3 text-gray-600 hover:text-white hover:bg-indigo-600 -mx-2">
                  <img class="h-8 w-8 rounded-full object-cover mx-1"
                      src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                      alt="avatar">
                  <p class="text-sm mx-2">
                      <span class="font-bold" href="#">Slick Net</span> start following you . 45m
                  </p>
              </a>
              <a href="#"
                  class="flex items-center px-4 py-3 text-gray-600 hover:text-white hover:bg-indigo-600 -mx-2">
                  <img class="h-8 w-8 rounded-full object-cover mx-1"
                      src="https://images.unsplash.com/photo-1450297350677-623de575f31c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80"
                      alt="avatar">
                  <p class="text-sm mx-2">
                      <span class="font-bold" href="#">Jane Doe</span> Like Your reply on <span
                          class="font-bold text-indigo-400" href="#">Test with TDD</span> artical . 1h
                  </p>
              </a>
              <a href="#"
                  class="flex items-center px-4 py-3 text-gray-600 hover:text-white hover:bg-indigo-600 -mx-2">
                  <img class="h-8 w-8 rounded-full object-cover mx-1"
                      src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=398&amp;q=80"
                      alt="avatar">
                  <p class="text-sm mx-2">
                      <span class="font-bold" href="#">Abigail Bennett</span> start following you . 3h
                  </p>
              </a>
          </div>
      </div>

      <div x-data="{ dropdownOpen: false }" class="relative">
          <button @click="dropdownOpen = ! dropdownOpen"
              class="text-2xl">
              <i class="fas fa-edit text-white"></i>
          </button>

          <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 h-full w-full z-10"
              style="display: none;"></div>

          <div x-show="dropdownOpen"
              class="absolute right-0 mt-2 w-48 bg-white rounded-md overflow-hidden shadow-xl z-10"
              style="display: none;">
              <%= link_to '新規受注入力', new_admin_path, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" %>
              <%= link_to '新規クライアント入力', new_company_path, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" %>
              <%= link_to '新規スタッフ入力', new_staff_path, class:"block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white" %>
          </div>
      </div>
  </div>
</header>