<nav class="bg-gray-100 p-2">
  <ul class="flex justify-center items-center">
    <li class="mx-2"><%= link_to '承認待ちリスト' %></li>|
    <li class="mx-2"><%= link_to '承認済みリスト'  %></li>
  </ul>
  <ul class="flex justify-center items-center">
    <li class="mx-2"><%= link_to '受注リスト', admins_path %></li>|
    <li class="mx-2"><%= link_to '受注入力', new_admin_path %></li>
  </ul>
</nav>